<h1>
  Nuevo animal
</h1>
<form (ngSubmit)="guardarAnimal(nuevoAnimal)" [formGroup]="nuevoAnimal" novalidate>
  <div class="row">
    <label for="tipo" class="column">Tipo: </label>
    <select name="tipo" class="column">
      <option value="" selected>Selecciona un tipo de animal</option>
      <option *ngFor="let tipo of tipos" [value]="tipo.id">
        {{tipo.nombre}}
      </option>
    </select>
  </div>
  <div class="row">
    <label for="raza" class="column">Raza: </label>
    <input name="raza" type="text" class="column">
  </div>
  <div class="row">
    <label for="nombre" class="column">Nombre: </label>
    <input name="nombre" class="column" type="text">
  </div>
  <div class="row">
    <label for="sexo" class="column">Sexo: </label>
    <input name="sexo" type="radio" [value]="M" class="column"><span>Macho</span>
    <input name="sexo" type="radio" [value]="H" class="column"><span>Hembra</span>
  </div>
  <div class="row">
    <input name="chip" type="checkbox" [value]="true">
    <label for="chip" class="column">Chip</label>
  </div>
</form>