<article class="container">
<article class="buttons" >
    <button><a routerLink="login">Loguearse</a></button> <button><a routerLink="login">Registrar</a></button>
</article>
<header>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/animales">animales</a>
  </nav>
  <h1>
    <!--enlace con propiedades del componente-->
    {{title}}
  </h1>
</header>
<main>
  <!--el componente movimientos desaparece-->
  <!--<cf-movimientos></cf-movimientos>-->

  <!--ahora usaremos un componente nativo 
que el enrutador cargue una página dinámicamente-->
  <router-outlet> </router-outlet>
</main>
</article>